page-home {


h2.msg1 {
  text-align: center;
  color: #707070;
  font-weight: bold;
  font-size: 18px;
}

p.small1 {
  font-weight: bold;
  font-size: 12px;
}

hr { 
    width:100%;
    height:1px;
    background: #ffffff
}

.button-save {
  width: 90%;
}

.button.center {
    margin-left: auto;
    margin-right: auto;
    color: #000;
    background-color: #E3E1B8;
    display: block;
}

.absolute-center {
      width: 100%;
      height: 100%;
      //overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
}

.div1 {
    width: 100%;
}

div {
    width: 80%;
}

ion-grid {
    height: 90%;
    justify-content: center;
}
ion-row {
    height: 33%;
    justify-content: center;
}
ion-header {
    height: 80px;
}
ion-title {
    width: 100%;
}

}
.box {
  width: 500px;
  height: 100px;
   border: solid 2px #000;
  border-color: transparent transparent #000 transparent;
  border-radius: 100%/60px 0 1px 60px;
}
