page-about {

h2.msg0 {
  text-align: bottom;
  color: #707070;
  font-weight: bold;
  font-size: 15px;
  padding-top: 30px;
}
p.small1 {
  font-weight: bold;  
  font-size: 40px;
}

hr {
    width:100%;
    height:1px;
    background: #ffffff
}


}
